@import "fonts.styl"


gris = #ECF0F1
.avatar
	border-radius 50%
	float left

body
	background #ffffff

.paragraph
	font-size 20px
	line-height 1.3


.navegation
	background rgba(gris, 0.5)
	position absolute
	top 0
	width 100%
	li
		display none

.workstation
	margin 0 auto
	width auto
	height auto
	padding 0

.sec
	margin 150px 40px

.pie
	height 100px
	width 100%
	positon relative


.i-menu
	position absolute
	right 0
	top 30%
	font-size 30px


.red
	font-size 25px


.redes
	padding-top 20px
	position absolute
	right 0


@media screen and (min-width 1000px)
	body
		background red
	.proyect
		width 25%
		float left

