.m-button--default{
  background: $blue;
  border-bottom: 3px solid $border-color;
  color: $white;
  padding: 10px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none !important;
  &:hover{
    background: $button-hover;
    color: $white;
  }
}

@media screen and (min-width: $standard){
  .m-button--default{
    letter-spacing: 1px;
  }
}
